@import "variables";
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
header {
  margin-top: 2vh;
}

main {
  margin-top: 4vh;
}

.navbar-brand {
  img {
    width: 100px;
  }
}

.nav-link {
  color: $brand-primary;
  text-decoration: none;
}

.row {
  >.col,
  >[class*="col-"] {
    margin-top: 2vh;
  }
}

.card {
  height: 100%;
  .card-tags {
    margin-bottom: 16px;
    span {
      margin-right: 3px;
    }
  }
}